// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #EB6547;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #C4C4C4;
$white: #ffffff;
$dark-black: #171717;
$light-black: #404040;
