// Specific CSS for your home-page
.home-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 800px;
}

.logo-home {
  margin-top: 50px;
   img {
    max-width: 600px;
  }
}

.start-button {
  a {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: $white;
    padding: 3px 19px;
    border-radius: 5px;
    transition: all .5s ease;
    font-size: 3em;
    border-bottom: 8px solid $orange;
    &:hover {
      background-color: $orange;
    }
  }
}

.animated-tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.text-tagline {
  text-align: center;
  h2 {
    color: $orange;
    font-family: $headers-font;
    font-size: 3.5em;
    font-weight: 300;
  }
  margin: 25px 0;
}

  .home-gif {
    height: 200px;
    width: 700px;
    background-size: cover;
    background-position: center;
  }


@media (max-width: 768px) {
  .logo-home img {
    max-width: 80vw;
  }

  .start-button a {
    font-size: 1.5em;
  }

  .text-tagline h2 {
    font-size: 1.6em;
  }

}
