// Specific CSS for your home-page
.home-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 800px;
}

.logo-home {
  margin-top: 50px;
   img {
    max-width: 400px;
  }
}

.start-button {
  a {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: $white;
    padding: 3px 19px;
    border-radius: 5px;
    transition: all .5s ease;
    font-size: 3em;
    border-bottom: 8px solid $orange;
    &:hover {
      background-color: $orange;
    }
  }
}

.animated-tagline {
  margin-bottom: 20px;
}

.text-tagline {
  text-align: center;
  h2 {
    color: $orange;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
  }
  margin: 50px 0;
}

.gifs {
  display: flex;
  justify-content: center;
  .gif1 {
    height: 110px;
    width: 140px;
    background-size: cover;
    background-position: center;
  }
  .gif2 {
    height: 110px;
    width: 140px;
    background-size: cover;
    background-position: center;
  }
  .gif3 {
    height: 110px;
    width: 140px;
    background-size: cover;
    background-position: center;
  }
  .gif4 {
    height: 110px;
    width: 140px;
    background-size: cover;
    background-position: center;
  }
    .gif5 {
    height: 110px;
    width: 140px;
    background-size: cover;
    background-position: center;
  }
    .gif6 {
    height: 110px;
    width: 140px;
    background-size: cover;
    background-position: center;
  }
    .gif7 {
    height: 110px;
    width: 140px;
    background-size: cover;
    background-position: center;
  }
}
