.wrapper-show {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 60px);
  background-color: $light-black;
  background-size: cover;
  background-position: center;
}

.container-cinema {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(10, 10, 10, 0.6);
  margin: auto 400px;
  width: auto;
  padding: 0 40px;
  border-radius: 8px;
}

.container-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(10, 10, 10, 0.6);
  margin: auto 250px;
  width: auto;
  padding: 0 40px;
  border-radius: 8px;
}

.title-show {
  text-align: center;
  margin-top: 30px;
  h1 {
    font-size: 50px;
    color: $orange;
  }
}

.title-show-bar {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  h1 {
    font-size: 40px;
    color: $orange;
  }
  h3 {
    font-size: 40px;
    font-weight:lighter;
  }
}

.result-presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.result-details  {
  // text-align: center;
  margin-left: 20px;
  h2 {
    color: $orange;
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }

  a {
    color: #c4c4c4;
    padding-right: 10px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.result-photo {
  margin: 0 20px;
  img {
    max-width: 250px;
  }
}

.result-resume {
  // border: 2px solid $orange;
  // padding: 30px;
  // margin-left: 40px;
  // margin-right: 40px;
  margin: 30px 40px 0px 40px;

  width: auto;
  height: 160px;
  overflow: auto;
  font-weight: bolder;
  text-align: justify;
  p {
    color: white;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: lighter;
    margin-right: 10px;
  }
}

.result-resume-theatre{
  // border: 2px solid $orange;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;

  width: auto;
  height: 160px ;
  overflow: auto;
  font-weight: bolder;
  text-align: justify;
  p {
    color: white;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: lighter;
    margin-right: 10px;
  }
}

.result-resume-bar {
  // border: 2px solid $orange;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;

  width: auto;
  height: 160px;
  overflow: auto;
  font-weight: bolder;
  text-align: justify;
  p {
    font-size: 1.1em;
    color: white;
    margin-bottom: 0;
    font-weight: lighter;
    margin-right: 10px;
  }
}

.link-to-email {
  margin: 10px;
  font-size: 40px;
  color: lightgrey;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $orange;
  }
}

.link-to-rejouer {
  // margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  color: $orange;
  // border-bottom: 2px solid $orange;
  font-family: 'Permanent Marker', cursive;
  &:hover {
    text-decoration: none;
    color: $white;
    // border-bottom: 2px solid $white;
  }
}

.retour-link {
  position: absolute;
  bottom: 30px;
  left: 30px;
  a {
    font-size: 1.8em;
    color: $orange;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}

.phone-number {
  margin-top: 10px;
}

.email {
  padding-top: 5px;
}

.form-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.form-group {
  margin-bottom: 0 !important;
}

.button-twilio-form {
  color: $orange;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  &:hover {
    text-decoration: none;
    color: $white
  }
}

.button-actionMailer-form {
  color: $orange;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  &:hover {
    text-decoration: none;
    color: $white
  }
}

.send {
  margin: 0 15px;
}

.send2 {
  margin: 0 15px;
}

.rejouer-link {
  display: flex;
  justify-content: center;
  align-item: center;
}

.share-presentation-result {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// .send-details {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 80px;
// }

.send-tagline {
  font-size: 25px;
  margin: 0 10px;
  text-align: center;
  color: $orange;
}

.fav-social {
  a {
    margin: 0 10px;
    font-size: 40px;
    color: lightgrey;
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
}

.result-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

@media (max-width: 768px) {

  .result-presentation {
    display: flex;
    flex-direction: column;
  }

  .wrapper-show {
    height: auto;
  }

  .retour-link {
    position: relative;
    bottom: 0;
    width: 100vw;
  }

  .container-bar, .container-cinema {
    width: 100vw;
  }

  .result-share {
    flex-direction: column;
  }

  .result-details {
    margin-top: 15px;
  }

  div.result-resume-bar, div.result-resume-theatre {
    margin: 0;
    padding: 0;
  }

  height: 100%;
}

// @media (max-width: 420px) { => resolution mobile

// }

// @media (max-width: 768px) {

// }
