.wrapper-show {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 60px);
  background-color: $light-black;
  background-size: cover;
  background-position: center;
}

.container-cinema {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(10, 10, 10, 0.6);
  margin: auto 400px;
  width: auto;
  padding: 0 40px;
  border-radius: 8px;
}

.container-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(10, 10, 10, 0.6);
  margin: auto 250px;
  width: auto;
  padding: 0 40px;
  border-radius: 8px;
}

.title-show {
  text-align: center;
  margin-top: 30px;
  h1 {
    font-size: 50px;
    color: $orange;
  }
}

.title-show-bar {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  h1 {
    font-size: 40px;
    color: $orange;
  }
  h3 {
    font-size: 40px;
  }
}

.result-presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.result-details  {
  // text-align: center;
  margin-left: 20px;
  h2 {
    color: $orange;
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }

  a {
    color: #c4c4c4;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.result-photo {
  margin: 0 20px;
  img {
    max-width: 250px;
  }
}

.result-resume {
  // border: 2px solid $orange;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;

  width: auto;
  font-weight: bolder;
  text-align: justify;
  p {
    color: white;
    margin-bottom: 0;
  }
}

.result-resume-theatre{
  // border: 2px solid $orange;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;

  width: auto;
  font-weight: bolder;
  text-align: justify;
  p {
    color: white;
    margin-bottom: 0;
  }
}

.result-resume-bar {
  // border: 2px solid $orange;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;

  width: auto;
  font-weight: bolder;
  text-align: justify;
  p {
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
  }
}

.link-to-email {
  margin-top: 10px;
  font-size: 25px;
  color: $orange;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.link-to-rejouer {
  // margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  color: $orange;
  // border-bottom: 2px solid $orange;
  font-family: 'Permanent Marker', cursive;
  &:hover {
    text-decoration: none;
    color: $white;
    // border-bottom: 2px solid $white;
  }
}

.retour-link {
  position: absolute;
  bottom: 30px;
  left: 30px;
  a {
    font-size: 1.8em;
    color: $orange;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}

.phone-number {
  margin-top: 10px;
}

.form-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.form-group {
  margin-bottom: 0 !important;
}

.button-twilio-form {
  color: $orange;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.send {
  margin: 0 15px;
}
