<div class="container">
  <div class="row">
    <div>
      <p><%= @question %></p>
      <% @answers.each do |answer| %>
        <%= link_to events_search_path(step: @step, answer: answer), method: :post do %>
          <div style="hjh: url(<%= image_path "tags/#{answer.parameterizes}.jpg" %>)">

          <%= answer %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

