<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-navbar.png", class: "nav-logo" %>
  <% end %>

  <div>
    <ul class="nav-links">
      <li class="link-orange"><%= link_to "Restart", root_path%></li>
      <li><%= link_to "Login",new_user_session_path%></li>
    </ul>
  </div>
</div>
