<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-navbar.png", class: "nav-logo" %>
  <% end %>

  <div class="steps-navbar">
    <% if (params[:action] != "index") %>
      <% if session[:search] != nil %>
        <% session[:search].each do |step, answer| %>
          <%= link_to answer, events_search_path(reset_session: true, step: step) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div>
    <ul class="nav-links">
      <li class="link-orange"><%= link_to "Rejouer", root_path%></li>
    </ul>
  </div>
</div>
