<div class="home-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path "homegifs/homegif.gif" %>);">
  <div class="home-container">
    <div class="logo-home">
      <%= image_tag "logo-fullscreen.png" %>
    </div>
    <div class="animated-tagline">
      <div class="text-tagline">
        <h2>Joue et découvre quelle sera ta soirée à Nantes !</h2>
      </div>

  </div>
    <div class="start-button">
      <%= link_to "Start Now", events_search_path %>
    </div>
  </div>
