
.show-container-2 {
  display: flex;;
  background-color: $dark-black;
}

.show-container-3 {
  display: flex;
  background-color: $dark-black;
}

.show-container-4 {
  display: flex;
  flex-wrap: wrap;
  background-color: $dark-black;
}

.show-container-6 {
  display: flex;
  flex-wrap: wrap;
  background-color: $dark-black;
}

.answer-card {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.link-card-2 {
  font-family: 'Permanent Marker', cursive;
  height: calc(100vh - 60px);
  flex: 0 0 50%;
  font-size: 3em;
  color: $white;
  transition: all .5s ease;
  &:hover {
    text-decoration: none;
    color: $orange;
    border: 12px solid $orange;
  }
}

.link-card-3 {
  font-family: 'Permanent Marker', cursive;
  height: calc(100vh - 60px);
  flex: 0 0 33%;
  font-size: 3em;
  color: $white;
  transition: all .5s ease;
  &:hover {
    text-decoration: none;
    color: $orange;
    border: 12px solid $orange;
  }
}

.link-card-4 {
  font-family: 'Permanent Marker', cursive;
  height: calc(50vh - 30px);
  flex: 0 0 50%;
  font-size: 3em;
  color: $white;
  transition: all .5s ease;
  &:hover {
    text-decoration: none;
    color: $orange;
    border: 12px solid $orange;
  }
}


.link-card-6 {
  font-family: 'Permanent Marker', cursive;
  height: calc(50vh - 30px);
  flex: 0 0 33.3%;
  font-size: 3em;
  color: $white;
  transition: all .5s ease;
  &:hover {
    text-decoration: none;
    color: $orange;
    border: 12px solid $orange;
  }
}

@media (max-width: 768px) {
  .answer-card {
    font-size: 0.75em;
  }

  .show-container-2, .show-container-3, .show-container-4 {
    flex-direction: column;
  }

  .show-container-2 .link-card-2, .show-container-4 .link-card-4 {
    height: calc(50vh - 30px) ;

  }

  .show-container-3 .link-card-3 {
    height: calc(33.333333vh - 20px) ;

  }

  .show-container-6 .answer-card {
    // height: calc(33.333333vh - 20px) ;
    width: 100vw ;
  }

}
