
.show-container-2 {
  display: flex;;
  background-color: $dark-black;
}

.show-container-3 {
  display: flex;
  background-color: $dark-black;
}


.show-container-6 {
  display: flex;
  flex-wrap: wrap;
  background-color: $dark-black;
}

.answer-card {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.link-card-2 {
  font-family: 'Permanent Marker', cursive;
  height: calc(100vh - 60px);
  flex: 0 0 50%;
  font-size: 3em;
  color: $white;
  transition: all .5s ease;
  &:hover {
    text-decoration: none;
    color: $orange;
    border: 12px solid $orange;
  }
}

.link-card-3 {
  font-family: 'Permanent Marker', cursive;
  height: calc(100vh - 60px);
  flex: 0 0 33%;
  font-size: 3em;
  color: $white;
  transition: all .5s ease;
  &:hover {
    text-decoration: none;
    color: $orange;
    border: 12px solid $orange;
  }
}

.link-card-6 {
  font-family: 'Permanent Marker', cursive;
  height: calc(50vh - 30px);
  flex: 0 0 33.3%;
  font-size: 3em;
  color: $white;
  transition: all .5s ease;
  &:hover {
    text-decoration: none;
    color: $orange;
    border: 12px solid $orange;
  }
}
