.navbar {
  justify-content: space-between;
  background: $dark-black;
  flex-grow: 0;
  padding: 0;
  height: 70px;
}

.nav-logo {
  width: 175px;
  margin:  0 20px;
}

.nav-links {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    font-weight: bold;

  ul  {
    list-style-type: none;
  }

  li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: $light-gray;
    margin-right: 25px;
  }
}

.link-orange a {
  color: $orange;
}
