.navbar {
  justify-content: space-between;
  background: $dark-black;
  flex-grow: 0;
  padding: 0;
  height: 60px;
}

.nav-logo {
  width: 140px;
  margin:  0 20px;
}

.nav-links {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;

  ul  {
    list-style-type: none;
  }

  li {
    display: inline;
  }

  a {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    text-decoration: none;
    color: $light-gray;
    margin-right: 25px;
  }
}

.link-orange a {
  color: $white;
  &:hover {
    color: $orange;
  }
}

.step-bar {
    color: $orange;
    font-size: 25px;
  a {
    color: white;
    font-size: 25px;
    text-decoration: none;
  }
}

.steps-navbar {
  a {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2em;
    text-decoration: none;
    color: $light-gray;
    margin-right: 25px;
  }

  a:hover {
    color: $orange;
  }
}
