<h1>Voici le plan que Dionysos a choisi pour toi ce soir!</h1>

<h2>Hey!</h2>

<p>
  Voici le plan qu'on a choisi pour toi ce soir:
  <br>
  <br>
  <strong><%= @event.name %></strong>
  <br>
  <br>
  <%= @event.venue.address %>
</p>

<%= link_to "Dionysos L'App", 'www.dionysoslapp.fr' %>
