<h1>Voici le plan que Dionysos a choisi pour toi ce soir!</h1>

<h2>Hey!</h2>

<p>
  Voici le plan qu'on a choisi pour toi ce soir:
  <br>
  <br>
  <%= link_to event_url(@event) do %>
    <strong><%= @event.name %></strong>
  <% end %>
  <br>
  <br>
  <%= @event.venue.address %>
</p>

<%= link_to "Dionysos L'App", 'www.dionysoslapp.fr' %>
